# Queries de création pour base de données NO_SQL

## Création des tables

Nom de la database: **strip_nosql** sur **MongoDB**

### Transaction

In [ ]:
{
  "transaction_id": "TX12345",
  "customer_id": "CUST001",
  "merchant_id": "MERCH001",
  "date": {
    "date": "2024-10-17T12:30:00Z",
    "year": 2024,
    "month": 10,
    "day": 17
  },
  "amount": 100.50,
  "currency": {
    "currency_code": "USD",
    "exchange_rate": 1.0
  },
  "fraud_score": 0.85,
  "status": "completed",
  "location": {
    "country_code": "US",
    "city": "San Francisco"
  },
  "payment_method": {
    "type": "credit_card",
    "provider": "Visa"
  },
  "device": {
    "type": "mobile",
    "operating_system": "iOS"
  },
  "logs": [
    {
      "timestamp": "2024-10-17T12:31:00Z",
      "log_message": "Transaction completed",
      "severity": "info"
    }
  ],
  "interaction_data": {
    "session_id": "SES12345",
    "clickstream": [
      {
        "timestamp": "2024-10-17T12:29:00Z",
        "page": "product_page",
        "action": "click",
        "element": "buy_button"
      }
    ]
  }
}

In [ ]:
{
    "transaction_id": "TX1004",
    "customer_id": "CUST004",
    "merchant_id": "MERCH002",
    "date": {
      "date": "2024-10-18T08:45:00Z",
      "year": 2024,
      "month": 10,
      "day": 18
    },
    "amount": 350,
    "currency": {
      "currency_code": "EUR",
      "exchange_rate": 1.1
    },
    "fraud_score": 0.2,
    "status": "completed",
    "location": {
      "country_code": "FR",
      "city": "Lyon"
    },
    "payment_method": {
      "type": "paypal",
      "provider": "Paypal"
    },
    "device": {
      "type": "desktop",
      "operating_system": "macOS"
    }
  }

In [ ]:
{
    "transaction_id": "TX1004",
    "customer_id": "CUST004",
    "merchant_id": "MERCH002",
    "date": {
      "date": "2024-10-18T08:45:00Z",
      "year": 2024,
      "month": 10,
      "day": 18
    },
    "amount": 350,
    "currency": {
      "currency_code": "EUR",
      "exchange_rate": 1.1
    },
    "fraud_score": 0.2,
    "status": "completed",
    "location": {
      "country_code": "FR",
      "city": "Lyon"
    },
    "payment_method": {
      "type": "paypal",
      "provider": "Paypal"
    },
    "device": {
      "type": "desktop",
      "operating_system": "macOS"
    }
  }

In [ ]:
{
    "transaction_id": "TX1005",
    "customer_id": "CUST005",
    "merchant_id": "MERCH003",
    "date": {
      "date": "2024-10-19T16:00:00Z",
      "year": 2024,
      "month": 10,
      "day": 19
    },
    "amount": 890.5,
    "currency": {
      "currency_code": "GBP",
      "exchange_rate": 1.3
    },
    "fraud_score": 0.75,
    "status": "fraudulent",
    "location": {
      "country_code": "UK",
      "city": "London"
    },
    "payment_method": {
      "type": "credit_card",
      "provider": "Visa"
    },
    "device": {
      "type": "mobile",
      "operating_system": "iOS"
    }
  }

### Error_logs

In [ ]:
{
  "log_id": "LOG12345",
  "timestamp": "2024-10-17T14:00:00Z",
  "transaction_id": "TX12345",
  "severity": "error",
  "message": "Payment gateway timeout",
  "error_code": "504",
  "merchant_id": "MERCH001",
  "device_id": "DEV12345",
  "location": {
    "country_code": "US",
    "city": "San Francisco"
  }
}

In [ ]:
{
    "log_id": "LOG1004",
    "timestamp": "2024-10-18T08:50:00Z",
    "transaction_id": "TX1004",
    "severity": "info",
    "message": "Transaction completed",
    "error_code": "200",
    "merchant_id": "MERCH002",
    "device_id": "DEV1004",
    "location": {
      "country_code": "FR",
      "city": "Lyon"
    }
  }

In [ ]:
{
    "log_id": "LOG1003",
    "timestamp": "2024-10-15T11:15:00Z",
    "transaction_id": "TX1003",
    "severity": "info",
    "message": "Transaction successful",
    "error_code": "200",
    "merchant_id": "MERCH001",
    "device_id": "DEV1003",
    "location": {
      "country_code": "US",
      "city": "San Francisco"
    }
  }

In [ ]:
{
    "log_id": "LOG1005",
    "timestamp": "2024-10-19T16:05:00Z",
    "transaction_id": "TX1005",
    "severity": "error",
    "message": "Transaction marked as fraudulent",
    "error_code": "400",
    "merchant_id": "MERCH003",
    "device_id": "DEV1005",
    "location": {
      "country_code": "UK",
      "city": "London"
    }
  }

### User_interactions

In [ ]:
{
  "session_id": "SES12345",
  "customer_id": "CUST001",
  "start_time": "2024-10-17T12:00:00Z",
  "end_time": "2024-10-17T12:30:00Z",
  "clickstream": [
    {
      "timestamp": "2024-10-17T12:05:00Z",
      "page": "homepage",
      "action": "view",
      "element": "banner"
    },
    {
      "timestamp": "2024-10-17T12:15:00Z",
      "page": "product_page",
      "action": "click",
      "element": "add_to_cart"
    }
  ],
  "total_time_spent": 1800,
  "bounce_rate": 0.25
}

In [ ]:
{
    "session_id": "SES1004",
    "customer_id": "CUST004",
    "start_time": "2024-10-18T07:30:00Z",
    "end_time": "2024-10-18T08:15:00Z",
    "clickstream": [
      {
        "timestamp": "2024-10-18T07:35:00Z",
        "page": "product_page",
        "action": "click",
        "element": "add_to_cart_button"
      }
    ],
    "total_time_spent": 2700,
    "bounce_rate": 0.2
  }

In [ ]:
{
    "session_id": "SES1003",
    "customer_id": "CUST003",
    "start_time": "2024-10-15T10:30:00Z",
    "end_time": "2024-10-15T11:00:00Z",
    "clickstream": [
      {
        "timestamp": "2024-10-15T10:35:00Z",
        "page": "homepage",
        "action": "view",
        "element": "promo_banner"
      },
      {
        "timestamp": "2024-10-15T10:55:00Z",
        "page": "checkout",
        "action": "click",
        "element": "buy_now_button"
      }
    ],
    "total_time_spent": 1800,
    "bounce_rate": 0.4
  }

### Machine_learning_features

In [ ]:
{
  "model_id": "ML12345",
  "customer_id": "CUST001",
  "session_id": "SES12345",
  "features": {
    "total_transactions": 50,
    "average_transaction_value": 75.20,
    "fraud_score": 0.85,
    "session_duration": 300
  },
  "prediction": "low_risk",
  "model_score": 0.95
}

In [ ]:
{
    "model_id": "ML1003",
    "customer_id": "CUST003",
    "session_id": "SES1003",
    "features": {
      "total_transactions": 20,
      "average_transaction_value": 75,
      "fraud_score": 0.4,
      "session_duration": 1800
    },
    "prediction": "low_risk",
    "model_score": 0.95
  }

In [ ]:
{
    "model_id": "ML1004",
    "customer_id": "CUST004",
    "session_id": "SES1004",
    "features": {
      "total_transactions": 15,
      "average_transaction_value": 150,
      "fraud_score": 0.2,
      "session_duration": 2700
    },
    "prediction": "low_risk",
    "model_score": 0.85
  }

### Customer_feedback

In [ ]:
{
  "feedback_id": "FB12345",
  "customer_id": "CUST001",
  "merchant_id": "MERCH001",
  "timestamp": "2024-10-17T14:15:00Z",
  "rating": 4,
  "review": "Great service, fast delivery!",
  "survey_responses": [
    {
      "question": "How satisfied are you with the product?",
      "answer": "Very satisfied"
    },
    {
      "question": "Would you recommend this product?",
      "answer": "Yes"
    }
  ]
}

In [ ]:
{
    "feedback_id": "FB1004",
    "customer_id": "CUST004",
    "merchant_id": "MERCH002",
    "timestamp": "2024-10-18T14:30:00Z",
    "rating": 5,
    "review": "Excellent product and fast delivery.",
    "survey_responses": [
      {
        "question": "How would you rate the product quality?",
        "answer": "Excellent"
      },
      {
        "question": "How would you rate the delivery time?",
        "answer": "Fast"
      }
    ]
  }

In [ ]:
{
    "feedback_id": "FB1003",
    "customer_id": "CUST003",
    "merchant_id": "MERCH001",
    "timestamp": "2024-10-15T12:00:00Z",
    "rating": 4,
    "review": "Good product, but delivery was slow.",
    "survey_responses": [
      {
        "question": "How would you rate the product quality?",
        "answer": "Good"
      },
      {
        "question": "How would you rate the delivery time?",
        "answer": "Slow"
      }
    ]
  }

### Merchant

In [ ]:
{
  "merchant_id": "MERCH001",
  "merchant_name": "Super Shop",
  "merchant_category": "Retail",
  "contact_info": {
    "email": "contact@supershop.com",
    "phone": "+123456789"
  }
}

### Product

In [ ]:
{
  "product_id": "PROD001",
  "merchant_id": "MERCH001",
  "product_name": "Laptop",
  "category": "Electronics",
  "price": 999.99
}

### Country_region_codes

In [ ]:
{
  "country_code": "US",
  "country_name": "United States",
  "region": "North America"
}

### Currency_exchange_rates

In [ ]:
{
  "currency_code": "USD",
  "currency_name": "United States Dollar",
  "exchange_rate_to_usd": 1.0
}

### Queries test

In [ ]:
{ 
    "amount": { "$gt": 500 },
    "status": "fraudulent" 
  }

Trouve toutes les transactions où :

Le montant est supérieur à 500
ET le statut est "fraudulent"

In [ ]:
{
    "merchant_id": "MERCH002",
    "amount": { "$gt": 200 }
  }

Trouve toutes les transactions où :

Le marchand a l'ID "MERCH002"
ET le montant est supérieur à 200

In [ ]:
{
    "currency.currency_code": "USD",
    "amount": { "$gte": 50, "$lte": 150 }
  }

Trouve toutes les transactions où :

La devise est USD (le "currency.currency_code" utilise la notation point pour accéder à une propriété imbriquée)
ET le montant est entre 50 et 150 inclus ($gte = greater than or equal, $lte = less than or equal)

In [ ]:
## avec agregation
[
    { "$match": {
        "customer_id": "CUST004"
    }},
    { "$lookup": {
        "from": "Machine_learning_features",
        "localField": "customer_id",
        "foreignField": "customer_id",
        "as": "ml_data"
    }}
]

requête analysait les transactions du client CUST004 (match) et récupérait ses données ML associées (lookup)

# Queries de création pour base de données OLTP

## Création des tables et valeurs

Nom de la base de BDD : **OLTP_STRIP_PROJECT** sur **PostgreSQL / NeonDB**

### Transaction

In [ ]:
CREATE TABLE Transaction (
    transaction_id VARCHAR PRIMARY KEY,
    merchant_id VARCHAR REFERENCES Merchant(merchant_id),
    customer_id VARCHAR REFERENCES Customer(customer_id),
    payment_method_id VARCHAR REFERENCES Payment_method(payment_method_id),
    device_type_id VARCHAR REFERENCES Device(device_type_id),
    date_id VARCHAR,
    status_id VARCHAR REFERENCES Status(status_id),
    product_id VARCHAR REFERENCES Product(product_id),
    location_id VARCHAR REFERENCES Location(location_id),
    currency_id VARCHAR REFERENCES Currency(currency_id),
    datetime TIMESTAMP,
    amount DECIMAL(10,2),
    tax DECIMAL(10,2)
);

In [ ]:
INSERT INTO Transaction (
    transaction_id, merchant_id, customer_id, payment_method_id, 
    device_type_id, date_id, status_id, product_id, location_id, 
    currency_id, datetime, amount, tax
) 
VALUES 
    ('TXN001', 'MERCH001', 'CUST001', 'PM001', 
    'DEV001', '20231022', 'STAT001', 'PROD001', 'LOC001', 
    'CUR001', '2023-10-22 14:30:00', 120.50, 10.00),

    ('TXN002', 'MERCH002', 'CUST002', 'PM002', 
    'DEV002', '20231023', 'STAT002', 'PROD002', 'LOC002', 
    'CUR002', '2023-10-23 16:45:00', 85.75, 7.50),

    ('TXN003', 'MERCH003', 'CUST003', 'PM003', 
    'DEV003', '20231024', 'STAT003', 'PROD003', 'LOC003', 
    'CUR003', '2023-10-24 11:00:00', 150.00, 12.50);

### Customer

In [ ]:
CREATE TABLE Customer (
    customer_id VARCHAR PRIMARY KEY,
        customer_name VARCHAR,
            customer_email VARCHAR,
                location_id VARCHAR,
                    FOREIGN KEY (location_id) REFERENCES location(location_id)
                    )

In [ ]:
INSERT INTO Customer 
(customer_id, customer_name, customer_email, location_id)
VALUES
('CUST001', 'John Doe', 'johndoe@example.com', 'LOC001'),
('CUST002', 'Jane Smith', 'janesmith@example.com', 'LOC002'),
('CUST003', 'Alice Johnson', 'alicej@example.com', 'LOC003');

### Merchant

In [ ]:
CREATE TABLE Merchant (
    merchant_id VARCHAR PRIMARY KEY,
    merchant_name VARCHAR,
    business_type VARCHAR,
    location_id VARCHAR,
    FOREIGN KEY (location_id) REFERENCES Location(location_id)
)

In [ ]:
INSERT INTO Merchant
(merchant_id, merchant_name, business_type, location_id)
VALUES
('MERCH001', 'Best Electronics', 'Retail', 'LOC001'),
('MERCH002', 'Fashion Hub', 'Fashion', 'LOC003'),
('MERCH003', 'QuickMart', 'Grocery', 'LOC002');

### Location

In [ ]:
CREATE TABLE location (
    location_id VARCHAR PRIMARY KEY,
    country_name VARCHAR,
    region VARCHAR,
    city VARCHAR,
    embargo BOOLEAN,
    location_ip VARCHAR
);

In [ ]:
INSERT INTO location
(location_id, country_name, region, city, location_ip, embargo)
VALUES
('LOC001', 'USA', 'North America', 'New York', '192.168.1.10', FALSE),
('LOC002', 'France', 'Europe', 'Paris', '192.168.1.20', FALSE),
('LOC003', 'Germany', 'Europe', 'Berlin', '192.168.1.30', FALSE),
('LOC004', 'Iran', 'Middle East', 'Tehran', '192.168.1.40', TRUE)

### Device

In [ ]:
CREATE TABLE Device (
    device_type_id VARCHAR PRIMARY KEY,
        device_type VARCHAR,
            operating_system VARCHAR
            )

In [ ]:
INSERT INTO device
(device_type_id, device_type, operating_system)
VALUES
('DEV001', 'Smartphone', 'Android'),
('DEV002', 'Tablet', 'iOS'),
('DEV003', 'Laptop', 'Windows');

### Payment_Method

In [ ]:
CREATE TABLE Payment_Method (
    payment_method_id VARCHAR PRIMARY KEY,
        payment_type VARCHAR,
            provider VARCHAR
                )

In [ ]:
INSERT INTO Payment_Method
(payment_method_id, payment_type, provider)
VALUES
('PM001', 'Credit Card', 'VISA'),
('PM002', 'PayPal', 'PayPal Inc.'),
('PM003', 'Bank Transfer', 'BNP Paribas');

### Currency

In [ ]:
CREATE TABLE Currency (
    currency_id VARCHAR PRIMARY KEY,
        from_currency VARCHAR,
            to_currency VARCHAR,
                rate FLOAT
                )

In [ ]:
INSERT INTO Currency 
(currency_id, from_currency, to_currency, rate)
VALUES
('CUR001', 'USD', 'EUR', 0.85),
('CUR002', 'EUR', 'JPY', 129.53),
('CUR003', 'GBP', 'USD', 1.39),
('CUR004', 'JPY', 'USD', 0.0091);

### Product

In [ ]:
CREATE TABLE Product (
    product_id VARCHAR PRIMARY KEY,
        product_name VARCHAR,
            product_price DECIMAL(10, 2),
                category VARCHAR,
                    authorized BOOLEAN
                    )

In [ ]:
INSERT INTO Product
(product_id, product_name, product_price, category, authorized)
VALUES
('PROD001', 'Smartphone X', 899.99, 'Electronics', TRUE),
('PROD002', 'Designer Handbag', 1299.99, 'Fashion', TRUE),
('PROD003', 'Organic Bananas', 3.99, 'Grocery', TRUE);

### Status

In [ ]:
CREATE TABLE Status (
    status_id VARCHAR PRIMARY KEY,
        status_name VARCHAR,
            description VARCHAR,
                fraud_score FLOAT,
                    is_fraud BOOLEAN
                    )

In [ ]:
INSERT INTO Status
(status_id, status_name, description, fraud_score, is_fraud)
VALUES
('STAT001', 'Completed', 'Transaction successfully completed', 0.1, FALSE),
('STAT002', 'Pending', 'Transaction is pending', 0.0, FALSE),
('STAT003', 'Fraudulent', 'Transaction flagged as fraud', 0.9, TRUE);

### Queries test

In [ ]:
SELECT transaction_id, merchant_id, customer_id, amount, tax 
FROM OLTP_STRIP_PROJECT.PUBLIC.Transaction 
WHERE amount > 100;

In [ ]:
SELECT transaction_id, datetime, amount, tax 
FROM Transaction 
WHERE customer_id = 'CUST001';

In [ ]:
SELECT transaction_id, merchant_id, amount, tax 
FROM OLTP_STRIP_PROJECT.PUBLIC.Transaction 
WHERE tax > 10;

# Queries de création pour base de données OLAP

## Création des tables et valeurs

Nom de la base de BDD : **OLAP_STRIP_PROJECT** sur **Snowflake**

### Fact_transaction

In [ ]:
CREATE OR REPLACE TABLE OLAP_STRIP_PROJECT.PUBLIC.Fact_transaction (
    transaction_key STRING PRIMARY KEY,
    date_key TIMESTAMP REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_date(date_key),
    customer_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_customer(customer_key),
    merchant_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_merchant(merchant_key),
    payment_method_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_payment_method(payment_method_key),
    product_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_product(product_key),
    fraud_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Fact_fraud_analysis(fraud_key),
    currency_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_currency(currency_key),
    location_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_location(location_key),
    transaction_count INTEGER,
    total_revenue FLOAT,
    total_tax FLOAT
);

In [ ]:
INSERT INTO OLAP_STRIP_PROJECT.PUBLIC.Fact_transaction (transaction_key, date_key, customer_key, merchant_key, payment_method_key, product_key, fraud_key, currency_key, transaction_count, total_revenue, total_tax)
VALUES 
('TRANS001', '2024-01-15 10:00:00', 'CUST001', 'MERCH001', 'PAY001', 'PROD001', 'FRAUD001', 'CUR001', 2, 1399.98, 279.99),
('TRANS002', '2024-02-20 15:30:00', 'CUST002', 'MERCH002', 'PAY002', 'PROD002', 'FRAUD002', 'CUR002', 1, 99.99, 19.99),
('TRANS003', '2024-03-25 18:45:00', 'CUST003', 'MERCH003', 'PAY003', 'PROD003', 'FRAUD003', 'CUR003', 10, 39.90, 7.98);

### Fact_fraud_analysis

In [ ]:
CREATE OR REPLACE TABLE OLAP_STRIP_PROJECT.PUBLIC.Fact_fraud_analysis (
    fraud_key STRING PRIMARY KEY,
    date_key TIMESTAMP REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_date(date_key),
    merchant_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_merchant(merchant_key),
    payment_method_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_payment_method(payment_method_key),
    product_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_product(product_key),
    location_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_location(location_key),
    fraud_score FLOAT,
    is_fraudulent BOOLEAN
);

In [ ]:
INSERT INTO OLAP_STRIP_PROJECT.PUBLIC.Fact_fraud_analysis (fraud_key, product_key, date_key, merchant_key, location_key, payment_method_key, fraud_score, is_fraudulent)
VALUES 
('FRAUD001', 'PROD001', '2024-01-15 10:00:00', 'MERCH001', 'LOC001', 'PAY001', 0.85, TRUE),
('FRAUD002', 'PROD002', '2024-02-20 15:30:00', 'MERCH002', 'LOC002', 'PAY002', 0.40, FALSE),
('FRAUD003', 'PROD003', '2024-03-25 18:45:00', 'MERCH003', 'LOC003', 'PAY003', 0.60, TRUE);

### Dim_date

In [ ]:
CREATE OR REPLACE TABLE OLAP_STRIP_PROJECT.PUBLIC.Dim_date (
    date_key TIMESTAMP PRIMARY KEY,
    day INTEGER,
    month INTEGER,
    year INTEGER,
    quarter INTEGER,
    is_weekend BOOLEAN,
    is_holiday BOOLEAN
);

In [ ]:
INSERT INTO OLAP_STRIP_PROJECT.PUBLIC.Dim_date (date_key, day, month, year, quarter, is_weekend, is_holiday)
VALUES 
('2024-01-15 10:00:00', 15, 1, 2024, 1, FALSE, FALSE),
('2024-02-20 15:30:00', 20, 2, 2024, 1, FALSE, FALSE),
('2024-03-25 18:45:00', 25, 3, 2024, 1, TRUE, FALSE);

### Dim_customer

In [ ]:
CREATE OR REPLACE TABLE OLAP_STRIP_PROJECT.PUBLIC.Dim_customer (
    customer_key STRING PRIMARY KEY,
    customer_name STRING,
    customer_age INTEGER,
    customer_phone STRING,
    customer_email STRING,
    customer_since DATE,
    customer_value STRING,
    compliance_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_compliance(compliance_key)
);

In [ ]:
INSERT INTO OLAP_STRIP_PROJECT.PUBLIC.Dim_customer (customer_key, customer_name, customer_age, customer_phone, customer_email, customer_since, customer_value)
VALUES 
('CUST001', 'John Doe', 35, '0123456789', 'john.doe@example.com', '2020-01-01', 10000),
('CUST002', 'Jane Smith', 28, '0123456790', 'jane.smith@example.com', '2019-02-01', 15000),
('CUST003', 'Carlos Rossi', 45, '0123456791', 'carlos.rossi@example.com', '2018-03-01', 20000);

### Dim_merchant

In [ ]:
CREATE OR REPLACE TABLE OLAP_STRIP_PROJECT.PUBLIC.Dim_merchant (
    merchant_key STRING PRIMARY KEY,
    merchant_name STRING,
    merchant_phone STRING,
    merchant_email STRING,
    business_type STRING,
    country_name STRING,
    registration_date DATE,
    compliance_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_compliance(compliance_key) 
);

In [ ]:
    INSERT INTO OLAP_STRIP_PROJECT.PUBLIC.Dim_merchant (merchant_key, merchant_name, merchant_phone, merchant_email, business_type, country_name, registration_date)
    VALUES 
    ('MERCH001', 'Tech Store', '0123456700', 'contact@techstore.com', 'Electronics', 'USA', '2015-06-01'),
    ('MERCH002', 'Fashion Hub', '0123456701', 'info@fashionhub.com', 'Clothing', 'France', '2016-07-15'),
    ('MERCH003', 'Grocery World', '0123456702', 'support@groceryworld.com', 'Retail', 'Japan', '2017-08-30');

### Dim_payment_method

In [ ]:
CREATE OR REPLACE TABLE OLAP_STRIP_PROJECT.PUBLIC.Dim_payment_method (
    payment_method_key STRING PRIMARY KEY,
    payment_type STRING,
    provider STRING,
    online BOOLEAN,
    compliance_key STRING REFERENCES OLAP_STRIP_PROJECT.PUBLIC.Dim_compliance(compliance_key)
);

In [ ]:
INSERT INTO OLAP_STRIP_PROJECT.PUBLIC.Dim_payment_method (payment_method_key, payment_type, provider, online)
VALUES 
('PAY001', 'Credit Card', 'Visa', TRUE),
('PAY002', 'Debit Card', 'MasterCard', TRUE),
('PAY003', 'PayPal', 'PayPal', TRUE);

### Dim_product

In [ ]:
CREATE OR REPLACE TABLE OLAP_STRIP_PROJECT.PUBLIC.Dim_product (
    product_key STRING PRIMARY KEY,
    product_name STRING,
    price DECIMAL(10,2),
    category STRING,
    online BOOLEAN,
    total_sell INT,
    authorized BOOLEAN
);

In [ ]:
INSERT INTO OLAP_STRIP_PROJECT.PUBLIC.Dim_product (product_key, product_name, price, category, online, total_sell, authorized)
VALUES 
('PROD001', 'Laptop', 1200.50, 'Electronics', TRUE, 150, TRUE),
('PROD002', 'T-Shirt', 25.99, 'Clothing', TRUE, 500, TRUE),
('PROD003', 'Apple', 1.25, 'Groceries', FALSE, 10000, TRUE);

### Dim_location

In [ ]:
CREATE OR REPLACE TABLE OLAP_STRIP_PROJECT.PUBLIC.Dim_location (
    location_key STRING PRIMARY KEY,
    country_name STRING,
    region STRING,
    city STRING,
    embargo BOOLEAN,
    location_ip STRING
);

In [ ]:
INSERT INTO OLAP_STRIP_PROJECT.PUBLIC.Dim_location (location_key, country_name, region, city, embargo, location_ip)
VALUES 
('LOC001', 'France', 'Ile-de-France', 'Paris', FALSE, '192.168.0.1'),
('LOC002', 'USA', 'California', 'San Francisco', FALSE, '192.168.0.2'),
('LOC003', 'Japan', 'Kanto', 'Tokyo', FALSE, '192.168.0.3');

### Dim_currency

In [ ]:
CREATE OR REPLACE TABLE OLAP_STRIP_PROJECT.PUBLIC.Dim_currency (
    currency_key STRING PRIMARY KEY,
    from_currency STRING,
    to_currency STRING,
    exchange_rate FLOAT
);

In [ ]:
INSERT INTO OLAP_STRIP_PROJECT.PUBLIC.Dim_currency (currency_key, from_currency, to_currency, exchange_rate)
VALUES 
('CUR001', 'USD', 'EUR', 0.85),
('CUR002', 'EUR', 'JPY', 130.15),
('CUR003', 'GBP', 'USD', 1.38);

### Dim_compliance

In [ ]:
CREATE OR REPLACE TABLE OLAP_STRIP_PROJECT.PUBLIC.Dim_compliance (
    compliance_key STRING PRIMARY KEY,
    regulation_type STRING,
    compliance_status STRING,
    audit_log STRING,
    last_audit_date DATE
);

In [ ]:
INSERT INTO OLAP_STRIP_PROJECT.PUBLIC.Dim_compliance (compliance_key, regulation_type, compliance_status, audit_log, last_audit_date)
VALUES 
('COMP001', 'GDPR', 'Compliant', 'Log001', '2023-01-15'),
('COMP002', 'PCI-DSS', 'Non-Compliant', 'Log002', '2023-03-20'),
('COMP003', 'HIPAA', 'Compliant', 'Log003', '2023-05-25');

### Queries tests

In [ ]:
SELECT 
    f.transaction_key,
    c.customer_name,
    f.total_revenue,
    f.total_tax
FROM OLAP_STRIP_PROJECT.PUBLIC.Fact_transaction f
JOIN OLAP_STRIP_PROJECT.PUBLIC.Dim_customer c
    ON f.customer_key = c.customer_key;

Cette requête:

Joint la table de faits (transactions) avec la dimension client
Sélectionne la clé de transaction, le nom du client, le revenu total et la taxe totale
Utilise "f" et "c" comme alias pour simplifier la syntaxe
Effectue la jointure sur la clé client (customer_key)

Elle permet d'analyser les revenus et taxes par client.

In [ ]:
SELECT 
    p.product_name,
    p.category,
    p.total_sell
FROM OLAP_STRIP_PROJECT.PUBLIC.Dim_product p
WHERE p.total_sell > 100;

Cette requête sélectionne les produits avec plus de 100 ventes totales, montrant :

Nom du produit
Catégorie
Nombre total de ventes

Elle filtre avec WHERE pour n'afficher que les produits populaires (>100 ventes).

In [ ]:
SELECT 
    f.transaction_key,
    fa.fraud_score,
    fa.is_fraudulent
FROM OLAP_STRIP_PROJECT.PUBLIC.Fact_transaction f
JOIN OLAP_STRIP_PROJECT.PUBLIC.Fact_fraud_analysis fa
    ON f.fraud_key = fa.fraud_key
WHERE fa.is_fraudulent = TRUE;

Cette requête identifie les transactions frauduleuses en :

Joignant la table de transactions avec l'analyse des fraudes
Filtrant uniquement les cas confirmés (is_fraudulent = TRUE)
Affichant la clé de transaction, le score de fraude et le statut frauduleux

Elle aide à identifier et analyser les transactions suspectes.